.home {
  margin: 3rem auto;
  text-align: center;
}

.section {
  margin: 2.5rem auto;
}

h2 {
  text-align: center;
  margin: 3rem;
}

.taskMap__container {
  height: 778px;
  width: 100%;
  margin: 4px 30px;
  z-index: 0;

}

.refreshMap__button {
  margin:30px;
}

.noTask__button {
  justify-content: center;
  margin: 2rem;
  display: flex;
}

@media (max-width: 1024px) {

}