.task__container {
    width: 80%;
    margin: 4rem auto;
}


.category__container {
    display: flex;
    justify-content: center;
}

.category__chip {
    font-size: 1rem;
    padding: 0.9rem;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(175, 171, 222);
}

.taskDetails__divider {
    border-top: 4px;
}

.taskMap__container {
    height: 450px;
    width:90%;
    margin: 0 auto;
}

.taskDetails__main__info {
    padding: 2px 8px;
    margin: 1rem 0;
    border-radius: 10px;
    font-size: 1.2rem;
    width: auto;
}


