.section {
    width: 50%;
    display: block;
    margin: 4rem auto;
    flex-wrap: wrap;
}

.userCard__container {
    border: white;
    padding: 1rem;
}

.userCard__container:hover {
    animation: content-hover 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes content-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.01);
    }
}

.userInfo__container {
    border: none !important;
    word-break: break-word;
}

ul {
    margin: 15px auto;
    width: 90%;
}

.user__buttons {
    margin-bottom: 7px !important;
    margin-right: 7px !important;
    float: none !important;
}

.userImage__button {
    margin: 2px !important;
}

@media (max-width: 1024px) {
    .section, .taskSection {
        width: 70%;
    }
}


@media (max-width: 768px) {
    .section {
        width: 95%;
    }

    .profile__image {
        padding: 0 40px;
    }
}




