.section {
    width: 40%;
    display: block;
    margin: 4rem auto;
    flex-wrap: wrap;
}

.taskSection {
    width: 60%;
    margin: 4rem auto;
    flex-wrap: wrap;
}

.userCard__container:hover {
    animation: content-hover 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes content-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.01);
    }
}

.userCard__container {
    border: white;
    padding: 1rem;
}

.userInfo__container {
    border: none !important;
}

.noTask__button {
    justify-content: center;
    margin: 2rem;
    display: flex;
}

ul {
    margin: 15px auto;
    width: 90%;
}

@media (max-width: 1024px) {
    .section, .taskSection {
        width: 70%;
    }

    /*.taskButtons {*/
    /*    display: flex !important;*/
    /*}*/
}


@media (max-width: 768px) {
    .section, .taskSection {
        width: 95%;
    }

    .profileImage {
        padding: 0 40px;
    }

    .userButtons {
        margin-bottom: 7px !important;
        margin-right: 7px !important;
        float: none !important;
    }

}

@media (max-width: 425px) {
    .taskButtons {
        display: grid !important;
    }
}

@media (max-width: 320px) {
    .taskSection {
        width: 100%;
    }
}


