.section {
    width: 45%;
    display: block;
    margin: 4rem auto;
}

.userCard__container:hover {
    animation: content-hover 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes content-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.01);
    }
}

.userCard__container {
    border: white;
    padding: 1rem;
}

.button {
    margin: 0 auto;
}

