.category__container {
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem;
}

.category__chip {
    font-size: 0.9rem;
    padding: 0.7rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 4px;
    font-weight: bold;
    background-color: #eef2fa;
    border: #b5c8fc 1px solid;
}

.status__chip {
    font-size: 0.9rem;
    padding: 0.7rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 4px;
    font-weight: bold;
    background-color: #ecfaf4;
    border: #9ff6d8 1px solid;
}

.taskDetails__main__info {
    padding: 2px 8px;
    margin: 0.7rem 0;
    border-radius: 10px;
    font-size: 1.2rem;
    width: auto;
}

.taskDetails__payment__details {
    padding: 5px;
    margin: 0.2rem 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    width: auto;
    background-color: #e3e3ff;
    border: #c4d1f6 1px solid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 6px;
}

.taskDetails__container {
    display: flex;
    justify-content: space-between;
}

.taskCard {
    overflow-wrap: anywhere;
}

.taskCard:hover {
    animation: content-hover 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    background-color: rgb(246, 248, 248);
}

ul {
    width: 80%;
    margin: 0 0 2rem;
    height: 778px;
    overflow: auto;
}

/*not working*/
.taskRow {
    padding-bottom: 0px;
}


@keyframes content-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.01);
    }
}

a, a:hover {
    color: black;
}




