.category__container {
    display: flex;
    justify-content: flex-start;
}

.category__chip {
    font-size: 1rem;
    padding: 0.7rem;
    margin: 0.7rem 0;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(185, 249, 245);
}

.taskDetails__main__info {
    padding: 2px 8px;
    margin: 1rem 0;
    border-radius: 10px;
    font-size: 1.2rem;
    width: auto;
}

.taskDetails__payment__details {
    padding: 7px 8px;
    margin: 0.5rem 0;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2em;
    width: auto;
    background-color: rgba(162, 238, 209, 0.87);
}

.taskDetails__container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.taskCard {
    overflow-wrap: anywhere;
}

.taskCard:hover {
    animation: content-hover 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

ul {
    width: 70%;
    margin: 2em auto;
}


@keyframes content-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.01);
    }
}




