.header {
    width: 100%;
    height: 5rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: inherit;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}


.logo {
    font-size: 2rem;
    color: white;
    margin: auto;

}

.header button {
    background-color: rgb(0, 0, 0);
    color: white;
    width: auto;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px white;
    font-family: inherit;
    transition: 0.5s;
}

.header button:hover {
    background-color: #08b4f8;
    color: #ffffff;
    border: solid 1px rgb(0, 0, 0);
}

.paddingClasses a {
    padding: 10px 73px;
}

.languageSelect {
    position: relative;
    font-family: inherit;
    background-color: black;
    color: white;
    margin-left: 10px;
    padding: 2px;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .logo {
        font-size: 1rem;
    }
    .header button {
        padding: 0.5rem;
    }

}
