@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

* {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  background-color: #eee;
}

