.task__buttons {
    z-index: 0 !important;
}


.category__container {
    display: flex;
    justify-content: center;
}

.category__chip, .status__chip {
    border-radius: 5px !important;
    color: white !important;
    margin: 0 0.3rem !important;
}

.taskImage__button {
    margin: 2px !important;
}

.task__card {
    box-shadow: 1px -1px 5px 3px #ccc !important;
}

.card__content {
    padding: 3px;
    font-size: 1.1rem;
}

.card__username {
    font-size: 1.3rem;
    padding: 6px;
}

.card__header {
    font-size: 1.4rem !important;
}
