.section {
    margin: 3rem auto;
    width: 48%;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem 2rem 30px;
    text-align: center;
    animation: content 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.section:hover {
    animation: content-hover 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.section h2 {
    text-align: center;
    color: #1F1D36;
}

@keyframes content {
    0% {
        transform: scale(1.005);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes content-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.005);
    }
}


.control {
    margin-bottom: 1.5em;
}

.control label {
    display: block;
    color: #000000;
    font-weight: bold;
}


.control input {
    border-radius: 4px;
    border: white;
    border-bottom: 1px solid gray;
    width: 95%;
    height: 40px;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.control input:focus {
    animation: content-hover 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    outline: none;
    border-bottom: 2px solid #151515;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #3e78db;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
}

.actions button:hover {
    background-color: #3abed1;
    border-color: #3abed1;
}

.quantityPicker {
    display: flex;
    justify-content: center;
}

.content__textarea {
    width: 100%;
    height: 6rem;
    padding: 0.6rem;
    margin: 1rem auto;
    border: 1px solid gray;
    resize: none;
    text-align: justify;
    font: inherit;
}

.categoryButton__label {
    margin-bottom: 10px;
}

.categoryButton {
    margin: 2px !important;
    box-shadow: 2px 2px #ccc !important;
    border-radius: 7px !important;
}

.categoryButtons {
    display: block !important;
}

@media (max-width: 767px) {
    .section {
        width: 90%;
        padding: 0.8rem;
        margin: 25px auto;
    }

    .section h2 {
        margin-bottom: 15px;
        font-size: 1.5rem;
    }
    .control label {
        font-size: 0.9rem;
    }

    .categoryButtons {
        display: inline-grid !important;
    }
}
